/* You can add global styles to this file, and also import other style files */

body
    background-color black !important

.bg-white
    background-color white
    
#header
    background-color rgb(200,200,200)

#header-logo
    max-width 100px;

#main
    color: white !important




